<div class="course">
  <div class="top">
    <img [src]="item.thumb" alt="course" />
    <div class="badge" *ngIf="item.progress">
      {{ item.progress }}% Complete
    </div>
  </div>
  <div class="bottom">
    <div class="title">{{ item.title }}</div>
    <div class="provider">
      <img src="https://static-00.iconduck.com/assets.00/linkedin-icon-2048x2048-ya2v4b9h.png" alt="provider">
      <span>{{ item.provider }}</span>
    </div>
    <div class="meta">
      <span>★ {{ item.rating }}</span>
      <span>({{ item.reviews | number }} reviews | {{ item.enrolled }} Enrolled)</span>
    </div>
    <div class="meta">
      <span>{{ item.level }}</span>
      <span>•</span>
      <span>{{ item.duration }}</span>
    </div>
  </div>
</div>
