<app-header></app-header>

<!-- 2-column page: left = filter, right = all your original content -->
<div class="page">
  <app-filter-sidebar (filtersChange)="onFilters($event)"></app-filter-sidebar>

  <main class="content">
    <!-- Banner -->
    <section class="banner">
      <div class="hero">LOREM IPSUM DOLOR</div>
      <div class="dots"><span></span><span></span><span></span><span></span></div>
    </section>

    <!-- Stats -->
    <section class="stats">
      <ng-container *ngIf="stats$ | async as stats">
        <app-stat-card *ngFor="let s of stats" [label]="s.label" [value]="s.value"></app-stat-card>
      </ng-container>
    </section>

    <!-- Last Viewed -->
    <section class="row">
      <div class="row-head">
        <h3>Last Viewed Courses</h3>
        <a href="javascript:void(0)">View All</a>
      </div>
      <div class="carousel">
        <ng-container *ngIf="lastViewed$ | async as items">
          <div class="course-item" *ngFor="let item of items">
            <app-course-card [item]="item"></app-course-card>
            <a
              class="start-btn"
              [routerLink]="['/learn', item.slug || 'google-data-analytics-course-1', 'lecture', 'lec-1']">
              Start Learning
            </a>
          </div>
        </ng-container>
      </div>
    </section>

    <!-- Newly Launched -->
    <section class="row">
      <div class="row-head">
        <h3>Newly Launched</h3>
        <a href="javascript:void(0)">View All</a>
      </div>
      <div class="carousel">
        <ng-container *ngIf="newlyLaunched$ | async as items">
          <div class="course-item" *ngFor="let item of items">
            <app-course-card [item]="item"></app-course-card>
            <a
              class="start-btn"
              [routerLink]="['/learn', item.slug || 'google-data-analytics-course-1', 'lecture', 'lec-1']">
              Start Learning
            </a>
          </div>
        </ng-container>
      </div>
    </section>

    <!-- Blogs -->
    <section class="row">
      <div class="row-head">
        <h3>Blogs</h3>
        <a href="javascript:void(0)">View All Blogs</a>
      </div>
      <div class="carousel">
        <ng-container *ngIf="blogs$ | async as items">
          <app-blog-card *ngFor="let item of items" [item]="item"></app-blog-card>
        </ng-container>
      </div>
    </section>
  </main>
</div>
